#header-details,
#company-detail {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
  background-color: rgba(0, 0, 0, 0.03);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#contents-sec {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
  background-color: rgba(0, 0, 0, 0.03);
}
#company-detail {
  justify-content: space-around;
}
